{
 "env": {
  "test": {
   "plugins": [ "istanbul", "transform-async-to-generator" ]
  }
 },
 "presets": [ "es2015" ],
 "plugins": ["transform-async-to-generator", "babel-plugin-transform-runtime"]

}
